main{
    background-color: #1c1c1c;
    .container{
    display: flex;
    flex-wrap:wrap;
    width: 70%;
    margin: 0 auto;
    position: relative;
    }
    .current-series-special-div{
      position:absolute;
      top: 510px;
      left: 300px;
      width: fit-content;
      padding: 13px 20px;
      font-weight: 600;
      text-transform: uppercase;
      color: white;
      background-color: $principal-color;
    }
    .jumbo{
        height: 400px;
        width: 100%;
        background-image: url("../../../public/img/jumbotron.jpg");
        background-size:auto;
      }
      .card-o{
        width: 200px;
        margin:20px 20px 30px 0;
        &:hover{
          cursor: pointer;
        }
        .image-container{
          height: 60%;
          overflow: hidden;
          img{
            width: 100%;
          }
        }
    }
    p{
      width: 200px;
      text-align: center;
      text-transform:uppercase;
      color: white;
      &:hover{
        color: $principal-color;
        cursor: pointer;
        }
      }
}
